<div class="container">
<h1>My Personal Home Page</h1>
<p>You can read more about me, or checkout my blog.</p>
<%=  link_to "about me myself and I", about_path%>
<%= link_to "Movie", movies_path, class: 'btn btn-primary'%>
</div>
